body {
    background-color: #000;
    color:#ddd;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 'Times New Roman', Times, serif;
    text-align: center;
}

p {
    font-size: 1.4em;
}

a { 
    color: #777;
    font-weight: bold;
    text-decoration: none;
}

h1 {
    font-size: 2.4em;
}

h2 { 
    font-size: 2.1em;
    margin-top: 0.4em;
}

img {
    max-width: 77%;
    max-height: 77vh;
}

/* Menu */

.menu {
    font-size: 2em;
    margin-top: 0.4em;
    margin-bottom: 2em;
}

.menu a {
    font-style: italic;
}

/* Footer */

.footer {
    color: #4d4d4d;
    font-size: small;
    margin-top: 77px;
    margin-bottom: 44px;
}

.footerimg {
    width: 27px;
    height: 27px;
}

/* Artists Page */

.artist {
    font-size: 2em;
    font-style: italic;
    margin-top: 0;
}

.artistlogo {
    max-width: 222px;
    margin-top: 44px;
}

/* Catalog Page */

.album {
    font-size: 2em;
}

.albumart {
    max-width: 444px;
    margin-bottom: 0.4em;
    margin-top: 4em;
}

.underconstruction {
    margin-top: 144px;
    margin-bottom: 144px;
    font-size: xx-large;
    font-style: oblique;
}

ol {
    margin-top: 2em;
    padding-inline-start: 0;
    padding-inline-end: 0;
    list-style: none;
    line-height: 1.7em;
}

/* Offerings Page */

.offeringimg {
    max-width: 222px;
    padding: 22px;
}

.offering {
    font-size: 1.7em;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0;
}

.offering a {
    font-style: normal;
}

.offeringsgrid {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 44px;
    margin-left: auto;
    margin-right: auto;
}

/* .offeringsgriditem {
    padding: 22px;
} */